<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cpz.dao.impl.CpzBuyerMsgMapper">
	<resultMap id="CpzBuyerMsgResultMap" type="com.cpz.pojo.CpzBuyerMsgBean">
		<result column="userId" property="userId" />
		<result column="moileNo" property="moileNo" />
		<result column="nickName" property="nickName" />
		<collection property="CpzBuyerCollectShop" ofType="com.cpz.pojo.CpzBuyerCollectShopBean">
		</collection>
	</resultMap>

	<select id="CpzBuyerMsgSelect" resultMap="CpzBuyerMsgResultMap">
		select CpzBuyerMsg.userId, CpzBuyerMsg.moileNo, CpzBuyerMsg.nickName
		from CpzBuyerCollectShop inner join CpzBuyerMsg on
		CpzBuyerCollectShop.userId=CpzBuyerMsg.userId
	</select>
</mapper>

